.account {
    background: #F6F6F6;
    font-family: Raleway, sans-serif;
}

.accountTitle {
    font-size: 30px;
    text-align: left;
    padding-top: 30px;
}

.membershipTitle {
    font-size: 15px;  
    padding: 0.5rem;
    margin-top: 20px;
}

.informationContainer {
    background: #ffffff;
    border-radius: 10px;
    margin-bottom: 20px;
}

.text {
    font-size: 25px;
    text-align: left;
}

.personalDataTitle {
    font-size: 25px ;
    text-align: left;
}